version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "isma381"
    labels: ["dependencies", "security"]
    commit-message:
      prefix: "chore"
      include: "scope"