@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
  
  input, textarea, select {
    @apply bg-gray-800 border-gray-700 text-white;
  }
  
  input::placeholder, textarea::placeholder {
    @apply text-gray-400;
  }
}

